@import "fonts.scss";
@import "reset.scss";

//variables

//color
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-white: #F7F7F7;
$color-gray: #4A4A4A;
$color-light-yellow: #F2DA91;

//font-weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//mixins
@mixin text ($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin text-position ($text-align, $vertical-align) {
    text-align: $text-align;
    vertical-align: $vertical-align;
}



html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}

ul {
    list-style: none;
  }

a {
    text-decoration: none;
}

.wrapper-one {
    max-width: 450px;
    margin: 0 auto;
}

.wrapper-two {
    max-width: 891px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: $font-weight-normal;
    color: $color-black;
}

.rotate {
    display: none;
}

.input-container-mobile,
.submenu {
    display: none;
}

.submenu {
    display: none;
}

.logo {
    display: none;
}

h1 {
    color: $color-white;
    font-weight: $font-weight-bold;
    @include text (38px, 57px);
    letter-spacing: 0.95px;
}

//Header part

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

//Top bar part

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-white;
    height: 24px;
    padding: 4px 24px;

    .top-bar-text {
        flex: 1;
        font-weight: $font-weight-semibold;
        @include text (11px, 17px);
        @include text-position (center, top);
        color: $color-black;
    }

    .our-stores-link {
        @include text (10px, 15px);
        @include text-position (right, top);
        letter-spacing: 0.08px;
        padding-right: 24px;
        padding-left: 5px;
        cursor: pointer;
        color: $color-black;
    }
    img {
        width: 8px;
        height: 11.12px;
        margin-top: 2px;
        cursor: pointer;
    }
}

//Main bar part

.main-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 24px 24px;
    &::before {
        content: '';
        background-image: linear-gradient(rgba(51, 51, 51, 0.9),
        rgba(27, 27, 27, 0.4692),
        rgba(0, 0, 0, 0.0001));
        opacity: 24%;
        position: absolute;
        top: 24px;
        right: 0;
        left: 0;
        height: 100px;
    }

    .main-logo {
        a {
            color: $color-white;
            font-weight: $font-weight-bold;
            @include text (38px, 57px);
            letter-spacing: 0.95px;
            text-decoration: none;
        }
    }

    .input-container {
        position: relative;
    }
    .header-search {
        padding: 10px 35px 10px 15px;
        outline: none;
        width: 584px;
        height: 48px;
        border-radius: 3px;
        border: none;
        background-position: right;
        color:$color-white;
        background-color: rgb(247 247 247 / 24%);
        &::placeholder {
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position (left, top);
            letter-spacing: 0.8px;
            color: $color-white;
            opacity: 1;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position (left, top);
            letter-spacing: 0.8px;
            color: $color-white;
            opacity: 1;
          }
        &:-ms-input-placeholder { /* IE 10+ */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position (left, top);
            letter-spacing: 0.8px;
            color: $color-white;
            opacity: 1;
          }
        &:-moz-placeholder { /* Firefox 18- */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position (left, top);
            letter-spacing: 0.8px;
            color: $color-white;
            opacity: 1;
          }
    }
    
    .search-button {
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        img {
            width: 16px;
            height: 16px;
            object-fit: cover;
        }
    }
    
    .sign-bar
        .sign-bar-list {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        li {
            margin-right: 17px;
        }
        a {
            font-weight: $font-weight-semibold;
            color: $color-white;
            letter-spacing: 1px;
            @include text (11px, 17px);
            text-align: center;
            text-decoration: none;
            position: relative;
        }
        
        .basket-black {
            width: 16px;
            height: 24px;
            cursor: pointer;
            display: block;
            position: relative;
            top: -3px
        }

    }

    .sign-bar-link.circle {
        display: none;
    }

//Nav part

.burger {
    display: none;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    .header-item {
        margin-right: 32px;
        .header-link {
            font-weight: $font-weight-semibold;
            @include text (13px, 20px);
            color: $color-white;
            text-decoration: none;
            letter-spacing: 1px;
            text-transform: uppercase;
            img {
                display: none;
            }
            
        }
        a {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                bottom: -3px;
                left: 0;
                right: 0;
                height: 1.8px;
                background-color: transparent;
            }
            &:hover {
                &::after {
                    background-color: $color-black;
                }
            }
        }
    }  
}


//Main part

.intro {
    height: 100vh;
    background-image: url(../img/9193579.png);
    background-repeat:no-repeat;
    background-position: top 24px right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    animation: slideBg 10s linear infinite 7s;
    animation-timing-function: ease-in-out;
    .intro-title {
        font-size: 60px;
        line-height: 90px;
      }
}

@keyframes slideBg {
    50% {
        background-image: url(../img/hp-oh-hi.png);
    } 
}

.register-part{
    padding-top: 32px;
    text-align: center;
    p {
		height: 36px;
        @include text (12px, 18px);
		letter-spacing: 0.87px;
		margin-bottom: 14px;
        text-align: left;
	}
    input {
        height: 32px;
        width: 334px;
        margin-bottom: 32px;
        margin-right: 12px;

        &::placeholder { /* Chrome/Opera/Safari */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position(left, top);
            letter-spacing: 0.8px;
            color: $color-gray;
            position: absolute;
            top: 7px;
            left: 11px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position(left, top);
            letter-spacing: 0.8px;
            color: $color-gray;
            position: absolute;
            top: 7px;
            left: 11px;
          }
        &:-ms-input-placeholder { /* IE 10+ */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position(left, top);
            letter-spacing: 0.8px;
            color: $color-gray;
            position: absolute;
            top: 7px;
            left: 11px;
          }
        &:-moz-placeholder { /* Firefox 18- */
            font-weight: $font-weight-medium;
            @include text (11px, 17px);
            @include text-position(left, top);
            letter-spacing: 0.8px;
            color: $color-gray;
            position: absolute;
            top: 7px;
            left: 11px;
          }
    }

    &:hover{
        border-color: $color-black;
    }

    button {
        width: 94px;
        height: 32px;
        border-radius: 3px;
        background-color: $color-black;
        color: $color-white;
        @include text (10px, 20px);
        @include text-position(center, top);
        font-weight: $font-weight-semibold;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        border: 0;
        &:hover {
            background-color: rgb(114, 105, 105);
            opacity: 70%;
        }
    }
}

//Footer part
#footer {
    background-color: $color-light-white;
    padding-top: 26px;
    padding-bottom: 14px;
    h2 {
        font-family: "Cormorant Garamond";
        font-weight: $font-weight-bold;
        @include text (16px, 19px);
        @include text-position(left, top);
        letter-spacing: 1.16px;
        margin-bottom: 17px;
      }
    .ft-main {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 38px;
        .ft-main-list {
            @include text-position(left, top);
            li {
                margin-bottom: 6px;
            }
            a {
                text-decoration: none;
                color: $color-black;
                @include text(12px, 19px);
                letter-spacing: 0.1px;
            }
            a {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    bottom: -3px;
                    left: 0;
                    right: 0;
                    height: 1.8px;
                    background-color: transparent;
                }
                &:hover {
                    &::after {
                        background-color: $color-black;
                    }
                }
            }  
        }
    }

    .ft-title {
        img {
            display: none;
        }
    }
    .ft-social-list {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 16px;
            height: 16px;
            margin-right: 16px;
        }
        a {
            &:hover {
                &::after {
                    background-color: transparent;
                }
            }
        }
    }

    .ft-legal {
        @include text (9px, 14px);
        @include text-position(center, top);
        letter-spacing: 0.5px;
    }
    
}

//For the active page

.container.act {
    background-color: $color-white;
    padding-bottom: 15px;
}

//Top bar part

.top-bar.act {
    background-color: $color-light-white;
}

//Main bar part

.main-bar.act {
    &::before {
        background-image: none;
    }
}

.main-logo.act { 
    a {
        color: $color-black;
    }
}

.sign-bar-link.act {
    color: $color-black;
}

.header-search.act {
    color:$color-white;
    background-color: $color-light-white;
    &::placeholder {
        color: $color-black;
        opacity: 1;
        font-weight: $font-weight-semibold;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color-black;
        opacity: 1;
        font-weight: $font-weight-semibold;
      }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color-black;
        opacity: 1;
        font-weight: $font-weight-semibold;
      }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color-black;
        opacity: 1;
        font-weight: $font-weight-semibold;
      }
}

.basket-white {
    display: none;
}

.search-button.act {
    .white-search {
        display: none;
    }
}

.sign-bar-item{
    span {
        height: 22px;
        width: 22px;
        background-color: $color-light-yellow;
        display: block;
        text-align: center;
        border-radius: 50%;
        font-weight: $font-weight-semibold;
        font-size: 11px;
        color: $color-black;
        padding-top: 3px;
    }
}

.header-list-act {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    .header-item-act {
        margin-right: 32px;
        .header-link-act {
            font-weight: $font-weight-semibold;
            @include text (13px, 20px);
            color: $color-black;
            text-decoration: none;
            letter-spacing: 1px;
            text-transform: uppercase;
            
        }
        img {
            display: none;
        }
        a {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                bottom: -3px;
                left: 0;
                right: 0;
                height: 1.8px;
                background-color: transparent;
            }
            &:hover {
                &::after {
                    background-color: $color-black;
                }
            }
        }
    }  
}

.intro.act {
    background-image: url(../img/hp-oh-hi.png);
}

//For the mobile screen

@media screen and (max-width: 767px) {
    .top-bar, .basket-card, .intro-title, .ft-main-social h2, .header-search, .main-bar h1, .sign-bar-link {
        display: none;
    }

    .submenu {
        display: inline;
    }

    .main-bar {
        &::before {
            background-image: none;
        }
    }

    .intro {
        background-position: center;
    }

    .main-bar {
        .main-logo {
            position: absolute;
            left: 35%;
            a{
                font-size: 25px;
                top: 0;
            }
        }
        .search-button {
            margin: 0;
            padding: 0;
            img {
                left: 110px;
                position: absolute;
            }
        }
        button {
            width: 80px;
        }
        
        .sign-bar-img {
            top: 0;
        }
    }

    .sign-bar-link.circle {
        display: block;
        span {
            height: 22px;
            width: 22px;
            background-color: $color-light-yellow;
            display: block;
            text-align: center;
            border-radius: 50%;
            font-weight: $font-weight-semibold;
            font-size: 11px;
            color: $color-black;
            padding-top: 3px;
        }
    }

    .burger {
        display: block;
        position: absolute;
        width: 20px;
        height: 15px;
        top: 22px;
        left: 16px;
        &:before {
            content: '';
            background-color: $color-white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
        }
        &:after {
            content: '';
            background-color: $color-white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
        }
        span {
            background-color: $color-white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 6px;
        }

    }
    .burger.active {
        &:before {
            transform: rotate(45deg);
            top: 6px;
            background-color: $color-black;
        }
        &:after {
            transform: rotate(-45deg);
            bottom: 6px;
            background-color: $color-black;
        }
        span {
            transform: scale(0);
        }
    }

    .main-logo a.active {
        color: $color-black;
    }

    .main-bar.active, .main-bar.main-bar.act.active{
        background-color: $color-white;
    }

    .header-nav, .header-nav-act {
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;  
    }

    .header-nav.active, .header-nav-act.active {
        top: 62px;
        transition: all 0.3s ease 0s;
        left: 0;
    }

    .register-input-part.active {
        visibility: hidden;
    }

    .header-list, .header-list-act {
        display: block;
        text-align: left;
        .header-item, .header-item-act {
            .header-link, .header-link-act {
                display: block;
                color: $color-black;
                padding: 16px 16px 13px;
                border-bottom: 1px solid $color-light-white;
                width: 100%;
                transition: .3s ease;
                &:hover {
                    background: transparent;
                }
                img {
                    display: inline;
                    float: right;
                }
            }
            .submenu {
                overflow: hidden;
                display: none;
                &.show {
                padding-top: 12px;
                }

                li {
                    padding-bottom: 13px;
                }
                
                a {
                    color: $color-black;
                    font-weight: 600;
                    @include text (13px, 20px);
                    text-decoration: none;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    padding-left: 16px;
                }
            }
                .submenu-link {
                    img {
                        display: inline;
                        float: right;
                        padding-right: 16px;
                    }
                }
                
            
        }
    }

.register-part {
    padding: 24px 16px; 
    .register-input-part {
        display: flex;
    }
    input {  
        margin-bottom: 0;
        margin-right: 8px;
    }
}

#footer {
    padding-top: 0;
    .ft-main {
        margin-bottom: 16px;
        padding: 0 32px;
        display: block;
    }
    h2 {
        margin-bottom: 0;
    }
    .ft-main-item {
        border-bottom: 1px solid #E1E0E1;
        padding-top: 13px;
        padding-bottom: 13px;
        .ft-title {
            width: 100%;
            transition: .3s ease;
            &:hover {
                background: transparent;
            }
            img {
                display: inline;
                float: right;
            }
    
        }
        .ft-main-list {
            overflow: hidden;
            display: none;
            a {
                padding-top: 10px;

            }
            
            &.show {
              padding-top: 12px;
            }
          }
    }

    .ft-social-list {
        justify-content: center;
            padding-top: 24px;
        img {
            margin-right: 24px;

        }
    }
}

//For the active page

.container.act {
    background-color: transparent;
}

.main-bar.act {
    background-color: transparent;
    .main-logo.act {
        a {
            color:$color-white;
        }
    }
    .basket-white {
        display: block;
    }
    
    .basket-black {
        display: none;
    }
    .sign-bar-link.two {
        display: block;
    }
}

.search-button.act {
    .black-search {
        display: none;
    }
    .white-search {
        display: block;
    }
}

}